* {
  font-family: 'Courier New', Courier, monospace;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://images.pexels.com/photos/259200/pexels-photo-259200.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-size: cover;
  font-family: 'Rajdhani', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 100px;
  padding-bottom: 35px;
  margin: 100px 0;
  color: black;
}
.content {
  box-shadow: 10px 10px 80px 10px #00000042;
  border: 0mm solid transparent;
  border-radius: 30px;
  text-align: center;
  vertical-align: center;
  background: rgba(0, 0, 0, 0.4);
  max-width: 80%;
  max-height: 80%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 1.1em;
}
h1 {
  font-weight: 700;
  font-size: 3.5em;
  font-family: 'Grandstander', cursive;
  color: white;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 4), 0px 8px 13px rgba(0, 0, 0, 1),
    0px 18px 23px rgba(0, 0, 0, 1);
}
hr {
  width: 400px;
  max-width: 80%;
  border-top: 4px solid #f8f8f8;
}
p {
  color: white;
}
button {
  color: black;
}

#verify_button {
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  transition: 0.6s ease-in-out;
}

#verify_button:hover {
  background-color: #ff0000;
  color: white;
}

#clickHere {
  font-size: 18px;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 1.5%;
  border: none;
  transition: 0.6s ease;
}

#clickHere:hover {
  background-color: #ff0000;
  color: white;
}

.output {
  box-shadow: 3px 3px 24px 3px #00000042;
  border: 0mm solid transparent;
  border-radius: 5px;
  margin-left: 40%;
  margin-top: 3%;
  margin-bottom: 2%;
  background-color: #00000042;
  padding: 2%;
  width: 20%;
  height: 20%;
  display: none;
}
.info {
  width: 50%;
  margin: auto;
  text-align: center;
}
caption {
  padding: 5px 10px;
}


.how-it-works-popup{
  background-color: #191A22;
  height: 80vh;
  width: 80vw;
  display: fixed;
  position: fixed;
  top: -100%;
  left: -100%;
  border-radius: 20px;
  animation: fade-in-out 0.2s ease-in-out;
}


.how-it-works-show{
  top: 50%;
  left: 50% ;
  transform: translate(-50%, -50%) ;
}


.popup-flexwrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.popup-flexwrapper > p{
  margin: 50px;
  font-size: 3rem;
}

.popup-flexwrapper > button{
  font-size: 3rem;
  margin: 50px;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 1.5%;
  border: none;
  transition: 0.6s ease;
}
.popup-flexwrapper > button:hover{
  background-color: #ff0000;
  color: white;
}

#check_value{
  border-radius: 20px;
  padding: 7px 20px;
}

